# Ignoruj foldery ze środowiskami wirtualnymi
venv/
.venv/

# Ignoruj pliki konfiguracyjne ze zmiennymi środowiskowymi
.env

# Ignoruj folder `rec`, który był używany w poprzednich wersjach
rec/

# Ignoruj foldery generowane przez system lub edytor
__pycache__/
.idea/
.vscode/