# Środowiska wirtualne
venv/
.venv/
env/
ENV/

# Pliki tymczasowe Pythona
__pycache__/
*.pyc
*.pyo
*.pyd

# Pliki z sekretami i konfiguracją lokalną
.env
.env.*
!.env.example

# Pliki generowane przez proces transkrypcji
# Ignorujemy cały katalog wyjściowy, ponieważ jest generowany dynamicznie
rec/output/

# Ignorujemy pliki stanu, ponieważ są specyficzne dla danego uruchomienia
rec/1_audio_list_to_encode.txt
rec/2_audio_list_to_transcribe.txt
rec/3_processing_list.txt
rec/4_processed_list.txt
rec/5_transcriptions.txt

# Pliki systemowe
.DS_Store

# Pliki generowane przez edytory i IDE
.idea/
.vscode/
*.swp