# Środowiska wirtualne
venv/
.venv/
env/
ENV/

# Pliki tymczasowe Pythona
__pycache__/
*.pyc
*.pyo
*.pyd

# Pliki z sekretami i konfiguracją lokalną
.env
.env.*
!.env.example

# Pliki systemowe
.DS_Store

# Pliki generowane przez edytory i IDE
.idea/
.vscode/
*.swp

# Pliki projektu
# Ignoruj zawartość folderów wejściowych i wyjściowych,
# ale zachowaj same foldery dzięki plikom .gitkeep.
rec/input/*
!rec/input/.gitkeep

rec/output/*
!rec/output/.gitkeep

# Ignoruj pliki stanu generowane w folderze rec
rec/*.txt